
build/
plasma-evm-contracts/
node_modules/
contracts/artifacts
contracts/dao/artifacts
contracts/factory/artifacts
contracts/interfaces/artifacts
contracts/roles/artifacts
contracts/shared/artifacts
deployed.json
l2.json
migrations/old/
truffle-config.js
old_test/
deployed.rinkeby.json