
build/
plasma-evm-contracts/
node_modules/
contracts/artifacts
contracts/dao/artifacts
contracts/factory/artifacts
contracts/interfaces/artifacts
contracts/roles/artifacts
contracts/shared/artifacts
